.card-container {
    display: flex;
    justify-content: space-around; /* Mengatur jarak antara kartu */
    margin: 20px 0;
    gap: 50px;
     /* Margin atas dan bawah */
}
  .img{
    width: 100%;
    border-radius: 18px;
  }
    .custom-card {
        width: 30rem; /* Ukuran kartu */
    /* Menambahkan padding di sekitar kartu */
        padding: 15px;
     /* Menghilangkan border bawaan */
    border-radius: 18px;        
    }
.Card.Title{
    font-size: 14px;
}
button{
    width: 200px;
    height: 70px;
}
.merek{
    color: red;
    font-size: 14px;
}
.status{
    font-size: 20px;
}
.tombol-diskon{
    background-color: #21252908;
    color: green;
}
.diskon{
    color: #EA9D5A;
}
.tombol-diskon:hover{
    background-color: #21252908;
    color: green;
}
.custom-card{ 
    background-color: #f2f8f9;
    border: 1px solid #f2f8f9;
}
button{
    border: none;
}

.custom-card:hover{
transition: all 0.2s ease-out;
box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
top: -4px;
border: 1px solid #cccccc;
background-color: white;
}
/* card3 */
.btns{
    width: 25%;
    margin-left: 30px;
    height: 28%;
    font-size: 14px;
    background:  #EA9D5A;
    border: none;
    color: white;
    border: 1px solid orange;
    border-radius: 9px;
}
.btns:hover {
    background-color: white;
    color: orange;
    
     /* Menambahkan properti ini */
  }


/* end card 3 */


/* signUp Home */

/* end signUp Home */
